{{> partials/header }}
{{# candidat}}
    <h1 class="title"><a href="/candidat">Liste des Candidats</a> > {{prenom}} {{nom}}</h1>
    <a href="/candidat/index" class="button is-info mb-3"><i class="fa-solid fa-chevron-left mr-1"></i> Retour</a>
    <div class="box">
        <span class="user_icon"><i class="fa-solid fa-circle-user is-size-1"></i></span>
        <span class="current_candidate_id">{{id}}</span><span class="candidats_list_length">{{candidats.size}}</span>
        <h2 class="subtitle subtitle_oneCandidat"><a href="#" class="previous_candidate"><i class="fa-solid fa-circle-chevron-left"></i></a> {{prenom}} {{nom}} <a href="#" class="next_candidate"><i class="fa-solid fa-circle-chevron-right"></i></a></h2>
        <div class="columns">
            <div class="column column-is-centered">
                <p><b>Email : <br> </b> {{email}}</p>
                <p><b>Ville : <br> </b> {{ville}}</p>
                <p><b>CV : <br></b></p>
                <a href="#" class="button is-dark">{{prenom}}_{{nom}}.pdf</a>
            </div>
            <div class="column column-is-centered">
                <p><b>Téléphone : <br> </b> 0{{numeroTel}}</p>
                <p>
                    <b>Formations : <br></b>
                    {{# formations}} <span class="tag is-info">{{libelle}}</span> {{/ formations}} {{^ formations}} <p>Aucune formation</p> {{/ formations}}
                </p>
            </div>
        </div>
    </div>
{{/ candidat}}
{{> partials/footer}}